# Web Framework et ASGI
fastapi>=0.124.4
uvicorn[standard]>=0.22.0

# Base de données et ORM
sqlalchemy>=2.0.0
alembic>=1.11.0
pgvector>=0.3.0  # PostgreSQL vector extension
# Drivers de base de données
psycopg2-binary>=2.9.6  # PostgreSQL
asyncpg>=0.30.0  # PostgreSQL async

#GRAPHQL
strawberry-graphql[fastapi]>=0.278.0
strawberry-sqlalchemy
strawberry-sqlalchemy-mapper
strawchemy

#Gestion des tâches
celery>=5.5.3
redis>=4.2.0
setuptools>=67.7.2  # Nécessaire pour installer des paquets avec des dépendances C

# HTTP et WebSocket
httpx>=0.24.0
websockets>=11.0.3



# Caching
fastapi-cache2>=0.2.0
cachetools>=5.3.2

# Utils
pylast>=6.0.0
python-dotenv>=1.0.0
pydantic>=2.0.0
pydantic-ai==1.27.0
python-multipart>=0.0.6
aiofiles>=23.1.0
pathlib>=1.0.1
numpy>=2.3.3
scikit-learn>=1.3.0
joblib>=1.3.0
# Sécurité
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4

# Tests
pytest>=7.3.1
pytest-xdist>=3.8.0
pytest-asyncio>=0.21.0
pytest-mock>=3.10.0
syrupy>=0.0.0
